# fly.toml app configuration file generated for bahjah-frontend on 2025-09-12T23:37:54+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bahjah-frontend'
primary_region = 'lhr'

[build.args]
  BACKEND_URL = 'bahjah.fly.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
