@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Saudi1";
    font-weight: normal;
    font-style: normal;
  }
  
@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-spinner[type=number] {
    -moz-appearance: textfield;
  }
}